@import '../../scss/global/global.scss';

.wrapper {
  padding: 1vh 1vh 0px 1vh;
  @media (min-width: 375px) {
    padding: 6.8rem 10px 0px 10px;
  }
  @media (min-width: 1280px) {
    padding: 5vh 20px 0px 20px;
  }
}
