@import '../../scss/abstractions/abstractions';

// upper landing page, headline & logo
.headline-scaffold {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media (min-width: 375px) {
    width: 355px;
  }
  @media (min-width: 1280px) {
    width: 433px;
  }
  @media (min-height: 1000px) {
    margin-top: 12vh;
  }
}

.headline-row {
  perspective: 1000px;
  overflow: hidden;
  transform-origin: center top;
  opacity: 0;
  transform: translateX(-50px);
  // border-left: $landing-border;
  // border-top: $landing-border;
  // border-right: $landing-border;
  display: flex;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    position: relative;
    // border-bottom: $landing-border;
  }
  &.first {
    animation: scale-in 500ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  }
  &.middle {
    animation: scale-in 500ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards 100ms;
  }
  &.last {
    animation: scale-in 500ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards 200ms;
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;

    transform: translateX(0);
  }
}

.headline {
  opacity: 0;
  font-size: 6rem;
  margin: 2px 0 2px 5px;
  @media (min-width: 375px) {
    font-size: $font-size-xl;
  }
  @media (min-width: 1280px) {
    font-size: $font-size-xxl;
    margin: 2px 0 2px 7px;
  }

  &.first {
    animation: headline-slide-down 300ms cubic-bezier(0.39, 0.575, 0.565, 1)
      forwards 200ms;
  }
  &.middle {
    animation: headline-slide-down 300ms cubic-bezier(0.39, 0.575, 0.565, 1)
      forwards 300ms;
  }
  &.last {
    animation: headline-slide-down 300ms cubic-bezier(0.39, 0.575, 0.565, 1)
      forwards 400ms;
  }
}

@keyframes headline-slide-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// CSSTransition classes for icons

.slide-in-enter {
  opacity: 0;
  transform: translateX(40px);
}

.slide-in-enter.slide-in-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.59, 1.375);
}

.slide-in-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-in-exit.slide-in-exit-active {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: all 50ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slide-in-exit-done {
  opacity: 0;
}
