@import '../../scss//abstractions/abstractions';

.thoughts-list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1200px) {
    margin-top: 5rem;
  }

  & .section-title {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 5rem;
    @media (min-width: 550px) {
      justify-content: center;
    }
    & h1 {
      position: absolute;
      top: -3rem;
      left: 1rem;
      color: $color-white;
      font-weight: $font-weight-bold;
      font-size: $font-size-xm;
      text-transform: uppercase;
      margin: 0;
      opacity: 0;
      transform: translateY(30px);
      animation: slide-up-title 200ms cubic-bezier(0.47, 0, 0.745, 0.715)
        forwards 400ms;

      @media (min-width: 550px) {
        font-size: $font-size-lg;
        top: -3.5rem;
      }
      @media (min-width: 1200px) {
        font-size: 6rem;
        top: -5.3rem;
      }
      @keyframes slide-up-title {
        from {
          opacity: 0;
          transform: translateY(30px);
        }

        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    & .white-bar {
      position: relative;
      width: 250px;
      height: 22px;
      background-color: $color-white;
      transform-origin: left center;
      transform: scaleX(0);
      animation: slide-in-bar 200ms cubic-bezier(0.19, 1, 0.22, 1) 200ms
        forwards;
      @media (min-width: 550px) {
        height: 27px;
      }
      @media (min-width: 1200px) {
        width: 350px;
        height: 34px;
      }

      @keyframes slide-in-bar {
        from {
          transform: scaleX(0);
        }

        to {
          transform: scaleX(1);
        }
      }
    }
  }

  & .thoughts-list {
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    animation: list-slide-up 200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    @media (min-width: 375px) {
      margin-top: 9rem;
    }
  }
  @keyframes list-slide-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
