// variables

// colors
$color-primary: #eb5757;
$color-secondary: #ff9c9c;
$color-black: #1d1d1d;
$color-white: #efefef;

// font sizes
$font-size-xs: 1.2rem;
$font-size-sm: 1.8rem;
$font-size-md: 2.5rem;
$font-size-xm: 3.5rem;
$font-size-lg: 4rem;
$font-size-xl: 7.2rem;
$font-size-xxl: 9rem;

// font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// line heights
$line-height-md: 130%;
$line-height-lg: 230%;

// font family
$font-family-rubik: 'Rubik', 'Helvetica', 'Sans-Serif';
$font-family-karla: 'Karla', 'Helvetica', 'Sans-Serif';

// landing page border
$landing-border: 4px solid $color-black;

// mixins

@mixin font-style($size, $color) {
  font-family: $font-family-rubik;
  font-weight: $font-weight-bold;
  font-size: $size;
  color: $color;
}
