// variables

// colors
$color-primary: #eb5757;
$color-secondary: #ff9c9c;
$color-black: #1d1d1d;
$color-white: #efefef;

// font sizes
$font-size-xs: 1.2rem;
$font-size-sm: 1.8rem;
$font-size-md: 2.5rem;
$font-size-lg: 4rem;
$font-size-xl: 7.2rem;

// font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// font family
$font-family-rubik: 'Rubik', 'Helvetica', 'Sans-Serif';
