@import '../../../scss/abstractions/abstractions';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  @media (min-width: 1200px) {
    align-self: center;
    z-index: 100;
  }

  & img {
    @media (min-width: 475px) {
      width: 4rem;
    }
  }

  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-black;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    padding-top: 5px;
    transition: all 100ms cubic-bezier(0.47, 0, 0.745, 0.715);

    @media (min-width: 475px) {
      font-size: $font-size-xm;
    }

    & *:not(:last-child) {
      margin-right: 0.7rem;
    }
    &:hover,
    &:focus {
      // text-decoration: line-through;
      color: $color-secondary;
      outline: none;
    }
  }
}
