@import '../../../scss/abstractions/abstractions';

.menu {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);

  // hide menu
  transform: translateX(100vw);
  visibility: hidden;

  // show menu
  &.active {
    transform: translateX(0);
    visibility: visible;
  }

  @media (min-width: 375px) {
    width: 85vw;
  }
  @media (min-width: 1200px) {
    width: 360px;
  }

  & .nav-menu ul {
    display: flex;
    flex-direction: column;
    text-align: right;
    visibility: hidden;
    opacity: 0;
    transform: translateX(30px);
    transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.375) 200ms;
    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }

    & li:nth-child(3) {
      text-align: left;
    }
    & li:last-child {
      text-align: center;
    }

    & li:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  & .nav-link {
    position: relative;
    backface-visibility: hidden;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: $color-white;
    line-height: $line-height-lg;
    padding: 1rem 0.5rem;
    &:hover::before,
    &:focus::before {
      transform: scaleX(1);
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      top: 0;
      left: 0;
      z-index: -2;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      top: 0;
      left: 0;
      z-index: -1;
      transform-origin: right center;
      transform: scaleX(0);
      transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
}

.screen-cover {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: rgba($color-black, 0.9);
  transition: all 200ms cubic-bezier(0.47, 0, 0.745, 0.715);

  // hide screen cover
  opacity: 0;
  visibility: hidden;

  // show screen cover
  &.active {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

body {
  overflow-x: hidden;
}
