@import '../../scss/abstractions/abstractions';

.bio-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-content {
  position: relative;
  width: 100vw;
  padding: 0 2rem;
  box-sizing: border-box;
  @media (min-width: 1200px) {
    position: relative;
    width: calc(100% - 4rem);
    right: 2rem;
  }
}

.section-title {
  display: flex;
  justify-content: flex-end;
  margin-top: 7rem;
  position: relative;
  left: 4rem;
  @media (min-width: 1200px) {
    display: block;
    margin-top: 0;
  }
}

.section-title-bar {
  display: block;
  height: 2.2rem;
  width: 27.6rem;
  background-color: $color-secondary;
  position: relative;
  transform: scaleX(0);
  animation: bar-scale-in 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 200ms
    forwards;
  @media (min-width: 1200px) {
    transform: scaleX(1);
    background-color: transparent;
    transform: rotate(-90deg) translateY(100%);
    opacity: 0;
    transform-origin: right top;
    position: fixed;
    top: 25rem;
    right: 40rem;
    animation: slide-in-right 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
      forwards 300ms;
  }
}
.section-title-name {
  font-weight: $font-weight-bold;
  font-size: $font-size-xm;
  position: absolute;
  top: -5.5rem;
  left: 0.5rem;
  opacity: 0;
  transform: translateY(-40px);
  animation: title-slide-down 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
    300ms forwards;
  @media (min-width: 1200px) {
    opacity: 1;
    transform: translateY(0);
    position: fixed;
    font-size: 6rem;
    color: $color-secondary;
    text-transform: uppercase;
  }
}

.greeting {
  text-align: left;
  display: block;
  text-transform: uppercase;
  font-family: $font-family-karla;
  font-size: 3rem;
  font-weight: $font-weight-bold;
  margin-bottom: -1rem;
  margin-top: 7rem;

  @media (min-width: 375px) {
    font-size: 5rem;
    margin-bottom: 1.7rem;
  }
  @media (min-width: 475px) {
    font-size: $font-size-xl;
    width: 820px;
    margin: 0 auto;
    margin-bottom: 1.7rem;
    margin-top: 5rem;
  }
  @media (min-width: 1280px) {
    margin-top: 10rem;
    margin-bottom: 4rem;
  }
  @media (min-width: 1440px) {
    font-size: $font-size-xxl;
  }
}

.bio-paragraph {
  text-align: left;

  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  line-height: $line-height-lg;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 5rem;
  font-family: $font-family-karla;
  opacity: 0;
  transform: translateY(30px);
  animation: list-slide-up 200ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;

  @media (min-width: 475px) {
    font-size: 2.5rem;
    line-height: $line-height-xl;
    max-width: 820px;
    margin-bottom: 5rem;
    &:last-of-type {
      margin-bottom: 8rem;
    }
  }
  @media (min-width: 1440px) {
    font-size: $font-size-xm;
    line-height: $line-height-lg;

    max-width: 880px;
    margin-bottom: 4.5rem;
    &:last-of-type {
      margin-bottom: 8rem;
    }
  }
}

.emphasized-text {
  text-transform: uppercase;
  font-weight: $font-weight-black;
  padding-right: 1rem;
  border-right: 3px solid $color-secondary;
  font-family: $font-family-rubik;
  color: $color-black;
  font-size: 2rem;
  margin: 0 2px;
  @media (min-width: 375px) {
    font-size: $font-size-md;
    margin: 0 5px;
  }
  @media (min-width: 475px) {
    font-size: $font-size-xm;
    margin: 0 5px;
  }
}

.white-link {
  text-transform: uppercase;

  text-decoration: none;
  margin: 0 4px;

  color: $color-white;
  font-size: $font-size-md;
  transition: all 100ms cubic-bezier(0.47, 0, 0.745, 0.715);

  @media (min-width: 375px) {
    margin: 0;
  }

  @media (min-width: 475px) {
    font-size: $font-size-xm;
  }

  &:hover,
  &:focus {
    // text-decoration: line-through;
    color: $color-secondary;
    outline: none;
    border-top: 1px solid $color-white;
  }
}
