// import vars, mixins and extends
@import '../abstractions/abstractions';

body {
  background-color: $color-primary;
  color: $color-black;
  font-family: $font-family-rubik;
  font-weight: $font-weight-bold;
}
