.icon {
  position: absolute;
  // visibility: hidden;
  &.champagne {
    width: 140px;
    left: 45vw;
    top: -32px;
  }

  &.smiley-face,
  &.rocket {
    width: 65px;
    left: 54vw;
    top: 5px;
  }

  .graph {
    width: 60px;
    left: 54vw;
    top: 8px;
  }

  &.sapling {
    width: 70px;
    left: 54vw;
    top: 8px;
  }

  @media (min-width: 375px) {
    &.champagne {
      left: 183px;
      top: -25px;
    }
    &.smiley-face,
    &.rocket {
      width: 70px;
      top: 8px;
      left: 210px;
    }

    &.sapling {
      top: 14px;
      left: 210px;
    }

    &.graph {
      width: 65px;
      top: 12px;
      left: 215px;
    }
  }
  @media (min-width: 1280px) {
    &.champagne {
      width: 175px;
      left: 220px;
      top: -32px;
    }
    &.smiley-face,
    &.rocket {
      width: 85px;
      top: 12px;
      left: 260px;
    }

    &.sapling {
      width: 85px;
      top: 18px;
      left: 260px;
    }

    &.graph {
      width: 80px;
      top: 16px;
      left: 265px;
    }
  }
}
